<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/thinkup"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".PrimeiraSerieQuestao015Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao014Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao013Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao012Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao011Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao010Activity"
            android:exported="false" />
        <activity
            android:name=".ResultadoQuestionarioPrimeiraSerieActivity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao009Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao008Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao007Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao006Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao005Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao004Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao003Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao002Activity"
            android:exported="false" />
        <activity
            android:name=".PrimeiraSerieQuestao001Activity"
            android:exported="false" />
        <activity
            android:name=".Questoes1SerieActivity"
            android:exported="false" />
        <activity
            android:name=".Questoes3serieActivity"
            android:exported="false" />
        <activity
            android:name=".Questoes2serieActivity"
            android:exported="false" /> <!-- Main Activity (inicial) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- EscolherSerieActivity com tema sem ActionBar -->
        <activity
            android:name=".EscolherSerieActivity"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
    </application>

</manifest>